<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Sign In</title>

    <!--====== Favicon Icon ======-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
<!-- CSS only -->

<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/scss/starter.css" />

    <link rel="stylesheet" href="/scss/sign-in-up/sign-in-up-01.css" />

    <style>
      .divider:after,
        .divider:before {
        content: "";
        flex: 1;
        height: 1px;
        background: #eee;
        }
    </style>
  </head>

  <body>
    <!--====== SIGNIN ONE PART START ======-->
    <%- include("navbar");-%> 
    <section class="signin-area bg-white signin-one">
      <div class="container">
        <% if(locals.error.length>0){ %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong><%=error%> </strong> 
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        <%}%>
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <h5>Reset Password</h5>
            <form action="/api/auth/forget-password" method="post">
              <div class="signin-form form-style-two rounded-buttons">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-input">
                      <label>Enter your email below</label>
                      <div class="input-items default">
                        <input type="email" placeholder="Email" name = "email"  />
                        <i class="lni lni-envelope"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                    <!-- form input -->
                  <div class="col-md-12">
                    <div class="form-input rounded-buttons">
                      <button
                        class="btn primary-btn rounded-full"
                        type="submit"
                      >
                       Reset Password
                      </button>
                    </div>
                    
                    <!-- form input -->
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>
    <%- include("footer"); -%>

    <!--====== SIGNIN ONE PART ENDS ======-->
    <!-- JavaScript Bundle with Popper -->
  </body>
</html>
