<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>Sign In and Sign Up | Ayro UI</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
<!-- CSS only -->
<link rel="stylesheet" href="/css/bootstrap.min.css" />
<!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/scss/starter.css" />

    <link rel="stylesheet" href="/scss/sign-in-up/sign-in-up-01.css" />
  </head>

  <body>
    <!--====== SIGNIN ONE PART START ======-->
    <% if(locals.error){ %>
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong><%=error%> </strong> 
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <%}%>
    <section class="signin-area signin-one">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5">
            <form action="/api/auth/signin" method="post">
              <div class="signin-form form-style-two rounded-buttons">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-input">
                      <label>Your account will be under this email</label>
                      <div class="input-items default">
                        <input type="text" placeholder="Email" name = "email"  />
                        <i class="lni lni-envelope"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <div class="form-input">
                      <label>Password for your account</label>
                      <div class="input-items default">
                        <input type="password" placeholder="Password" name= "password" />
                        <i class="lni lni-key"></i>
                      </div>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-6">
                    <div class="form-input rounded-buttons">
                      <button
                        class="btn primary-btn rounded-full"
                        type="submit"
                      >
                        Sign In!
                      </button>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-6">
                    <div class="form-input rounded-buttons">
                      <button
                        class="btn primary-btn-outline rounded-full"
                        type="submit"
                      >
                        Sign Up
                      </button>
                    </div>
                    <!-- form input -->
                  </div>
                  <div class="col-md-12">
                    <div class="form-input text-center">
                      <p class="text">
                        By signing in you agree with the
                        <a href="javascript:void(0)">Terms and Conditions</a>
                        and
                        <a href="javascript:void(0)">Privacy</a>
                      </p>
                    </div>
                    <!-- form input -->
                  </div>
                </div>
              </div>
              <!-- signin form -->
            </form>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- container -->
    </section>

    <!--====== SIGNIN ONE PART ENDS ======-->
    <!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  </body>
</html>
