<!DOCTYPE html>
<html lang="en">
  <head>
    <!--====== Required meta tags ======-->
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!--====== Title ======-->
    <title>title</title>

    <!--====== Favicon Icon ======-->
    <link
      rel="shortcut icon"
      href="/images/favicon.svg"
      type="image/svg"
    />

    <!--====== Bootstrap css ======-->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!--====== Line Icons css ======-->
    <link rel="stylesheet" href="/css/lineicons.css" />

    <!--====== Style css ======-->
    <link rel="stylesheet" href="/scss/starter.css" />

    <link rel="stylesheet" href="/scss/footers/footer-01.css" />
    <!--add style if exists-->
    <style>
      
    </style>
  </head>

  <body>
      
  </body>
</html>
